/* line 9, ../sass/screen.scss */
.block:nth-of-type(1) .number-2:before {
  content: "1";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(2) .number-2:before {
  content: "2";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(3) .number-2:before {
  content: "3";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(4) .number-2:before {
  content: "4";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(5) .number-2:before {
  content: "5";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(6) .number-2:before {
  content: "6";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(7) .number-2:before {
  content: "7";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(8) .number-2:before {
  content: "8";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(9) .number-2:before {
  content: "9";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(10) .number-2:before {
  content: "10";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(11) .number-2:before {
  content: "11";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(12) .number-2:before {
  content: "12";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(13) .number-2:before {
  content: "13";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(14) .number-2:before {
  content: "14";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(15) .number-2:before {
  content: "15";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(16) .number-2:before {
  content: "16";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(17) .number-2:before {
  content: "17";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(18) .number-2:before {
  content: "18";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(19) .number-2:before {
  content: "19";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(20) .number-2:before {
  content: "20";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(21) .number-2:before {
  content: "21";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(22) .number-2:before {
  content: "22";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(23) .number-2:before {
  content: "23";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(24) .number-2:before {
  content: "24";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(25) .number-2:before {
  content: "25";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(26) .number-2:before {
  content: "26";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(27) .number-2:before {
  content: "27";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(28) .number-2:before {
  content: "28";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(29) .number-2:before {
  content: "29";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(30) .number-2:before {
  content: "30";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(31) .number-2:before {
  content: "31";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(32) .number-2:before {
  content: "32";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(33) .number-2:before {
  content: "33";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(34) .number-2:before {
  content: "34";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(35) .number-2:before {
  content: "35";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(36) .number-2:before {
  content: "36";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(37) .number-2:before {
  content: "37";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(38) .number-2:before {
  content: "38";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(39) .number-2:before {
  content: "39";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(40) .number-2:before {
  content: "40";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(41) .number-2:before {
  content: "41";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(42) .number-2:before {
  content: "42";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(43) .number-2:before {
  content: "43";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(44) .number-2:before {
  content: "44";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(45) .number-2:before {
  content: "45";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(46) .number-2:before {
  content: "46";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(47) .number-2:before {
  content: "47";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(48) .number-2:before {
  content: "48";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(49) .number-2:before {
  content: "49";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(50) .number-2:before {
  content: "50";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(51) .number-2:before {
  content: "51";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(52) .number-2:before {
  content: "52";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(53) .number-2:before {
  content: "53";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(54) .number-2:before {
  content: "54";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(55) .number-2:before {
  content: "55";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(56) .number-2:before {
  content: "56";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(57) .number-2:before {
  content: "57";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(58) .number-2:before {
  content: "58";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(59) .number-2:before {
  content: "59";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(60) .number-2:before {
  content: "60";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(61) .number-2:before {
  content: "61";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(62) .number-2:before {
  content: "62";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(63) .number-2:before {
  content: "63";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(64) .number-2:before {
  content: "64";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(65) .number-2:before {
  content: "65";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(66) .number-2:before {
  content: "66";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(67) .number-2:before {
  content: "67";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(68) .number-2:before {
  content: "68";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(69) .number-2:before {
  content: "69";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(70) .number-2:before {
  content: "70";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(71) .number-2:before {
  content: "71";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(72) .number-2:before {
  content: "72";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(73) .number-2:before {
  content: "73";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(74) .number-2:before {
  content: "74";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(75) .number-2:before {
  content: "75";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(76) .number-2:before {
  content: "76";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(77) .number-2:before {
  content: "77";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(78) .number-2:before {
  content: "78";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(79) .number-2:before {
  content: "79";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(80) .number-2:before {
  content: "80";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(81) .number-2:before {
  content: "81";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(82) .number-2:before {
  content: "82";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(83) .number-2:before {
  content: "83";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(84) .number-2:before {
  content: "84";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(85) .number-2:before {
  content: "85";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(86) .number-2:before {
  content: "86";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(87) .number-2:before {
  content: "87";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(88) .number-2:before {
  content: "88";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(89) .number-2:before {
  content: "89";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(90) .number-2:before {
  content: "90";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(91) .number-2:before {
  content: "91";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(92) .number-2:before {
  content: "92";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(93) .number-2:before {
  content: "93";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(94) .number-2:before {
  content: "94";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(95) .number-2:before {
  content: "95";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(96) .number-2:before {
  content: "96";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(97) .number-2:before {
  content: "97";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(98) .number-2:before {
  content: "98";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(99) .number-2:before {
  content: "99";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 9, ../sass/screen.scss */
.block:nth-of-type(100) .number-2:before {
  content: "100";
  line-height: 2.5;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 22, ../sass/screen.scss */
.block:first-of-type .number {
  display: none;
}

/* line 28, ../sass/screen.scss */
.img1 .img {
  background: url("../img/img1.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img2 .img {
  background: url("../img/img2.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img3 .img {
  background: url("../img/img3.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img4 .img {
  background: url("../img/img4.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img5 .img {
  background: url("../img/img5.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img6 .img {
  background: url("../img/img6.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img7 .img {
  background: url("../img/img7.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img8 .img {
  background: url("../img/img8.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img9 .img {
  background: url("../img/img9.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img10 .img {
  background: url("../img/img10.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img11 .img {
  background: url("../img/img11.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img12 .img {
  background: url("../img/img12.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img13 .img {
  background: url("../img/img13.png");
  background-size: contain;
}

/* line 28, ../sass/screen.scss */
.img14 .img {
  background: url("../img/img14.png");
  background-size: contain;
}

/* line 48, ../sass/screen.scss */
.clr1 .achive {
  border-color: red;
}
/* line 51, ../sass/screen.scss */
.clr1 .number {
  background: red;
}
/* line 53, ../sass/screen.scss */
.clr1 .number .number-2:before {
  color: red;
}

/* line 48, ../sass/screen.scss */
.clr2 .achive {
  border-color: orange;
}
/* line 51, ../sass/screen.scss */
.clr2 .number {
  background: orange;
}
/* line 53, ../sass/screen.scss */
.clr2 .number .number-2:before {
  color: orange;
}

/* line 48, ../sass/screen.scss */
.clr3 .achive {
  border-color: yellow;
}
/* line 51, ../sass/screen.scss */
.clr3 .number {
  background: yellow;
}
/* line 53, ../sass/screen.scss */
.clr3 .number .number-2:before {
  color: yellow;
}

/* line 48, ../sass/screen.scss */
.clr4 .achive {
  border-color: green;
}
/* line 51, ../sass/screen.scss */
.clr4 .number {
  background: green;
}
/* line 53, ../sass/screen.scss */
.clr4 .number .number-2:before {
  color: green;
}

/* line 48, ../sass/screen.scss */
.clr5 .achive {
  border-color: aqua;
}
/* line 51, ../sass/screen.scss */
.clr5 .number {
  background: aqua;
}
/* line 53, ../sass/screen.scss */
.clr5 .number .number-2:before {
  color: aqua;
}

/* line 48, ../sass/screen.scss */
.clr6 .achive {
  border-color: blue;
}
/* line 51, ../sass/screen.scss */
.clr6 .number {
  background: blue;
}
/* line 53, ../sass/screen.scss */
.clr6 .number .number-2:before {
  color: blue;
}

/* line 48, ../sass/screen.scss */
.clr7 .achive {
  border-color: magenta;
}
/* line 51, ../sass/screen.scss */
.clr7 .number {
  background: magenta;
}
/* line 53, ../sass/screen.scss */
.clr7 .number .number-2:before {
  color: magenta;
}
